DLTE-JAVA/EmployeeReview/SPRING_WEB_REVIEW/src/main/resources/Employee.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://employee.services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://employee.services" targetNamespace="http://employee.services">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <xsd:import namespace="http://employee.services" schemaLocation="Employee.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="filterByIdRequest">
        <wsdl:part element="tns:filterByIdRequest" name="filterByIdRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createEmployeeResponse">
        <wsdl:part element="tns:createEmployeeResponse" name="createEmployeeResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAllEmployeeRequest">
        <wsdl:part element="tns:findAllEmployeeRequest" name="findAllEmployeeRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmployeeByPinCodeRequest">
        <wsdl:part element="tns:getEmployeeByPinCodeRequest" name="getEmployeeByPinCodeRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAllEmployeeResponse">
        <wsdl:part element="tns:findAllEmployeeResponse" name="findAllEmployeeResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmployeeByPinCodeResponse">
        <wsdl:part element="tns:getEmployeeByPinCodeResponse" name="getEmployeeByPinCodeResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createEmployeeRequest">
        <wsdl:part element="tns:createEmployeeRequest" name="createEmployeeRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="filterByIdResponse">
        <wsdl:part element="tns:filterByIdResponse" name="filterByIdResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EmployeePort">
        <wsdl:operation name="filterById">
            <wsdl:input message="tns:filterByIdRequest" name="filterByIdRequest"> </wsdl:input>
            <wsdl:output message="tns:filterByIdResponse" name="filterByIdResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createEmployee">
            <wsdl:input message="tns:createEmployeeRequest" name="createEmployeeRequest"> </wsdl:input>
            <wsdl:output message="tns:createEmployeeResponse" name="createEmployeeResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findAllEmployee">
            <wsdl:input message="tns:findAllEmployeeRequest" name="findAllEmployeeRequest"> </wsdl:input>
            <wsdl:output message="tns:findAllEmployeeResponse" name="findAllEmployeeResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmployeeByPinCode">
            <wsdl:input message="tns:getEmployeeByPinCodeRequest" name="getEmployeeByPinCodeRequest"> </wsdl:input>
            <wsdl:output message="tns:getEmployeeByPinCodeResponse" name="getEmployeeByPinCodeResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmployeePortSoap11" type="tns:EmployeePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="filterById">
            <soap:operation soapAction=""/>
            <wsdl:input name="filterByIdRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="filterByIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createEmployee">
            <soap:operation soapAction=""/>
            <wsdl:input name="createEmployeeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createEmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findAllEmployee">
            <soap:operation soapAction=""/>
            <wsdl:input name="findAllEmployeeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findAllEmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmployeeByPinCode">
            <soap:operation soapAction=""/>
            <wsdl:input name="getEmployeeByPinCodeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getEmployeeByPinCodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmployeePortService">
        <wsdl:port binding="tns:EmployeePortSoap11" name="EmployeePortSoap11">
            <soap:address location="http://localhost:8082/employeerepo"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>